.carousel-caption {
    position: relative;
    z-index: 10;
    right: auto;
    bottom: 1.25rem;
    left: auto;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}