.carousel-caption {
    position: relative;
    right: auto;
    left: auto;
}

.carousel-fade {
    .carousel-inner {

        .carousel-item {
            opacity: 0;
        }

        .active {
            opacity: 1;
        }
    }
}

@include media-breakpoint-down(sm) {
    .carousel-caption {
        width: 80%;
    }
}